body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: center;
}

.buttons button {
    margin: 10px 0 0 0;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%
}

.users-table {
    display: table;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid gray;
    line-height: 1.5;
}
.users-table th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid gray;
}

.users-table th {
    background-color: #f2f2f2f2;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
}